@import '../../../stylesheets/helpers/variables.scss';
@import '../../../stylesheets/helpers/mixins.scss';
@import '../../../stylesheets/helpers/grid.scss';

.main {
    min-width: 320px;
    min-height: 100%;
    right: 0;
    left: 0;

    position: relative;

	@include transition(all 0.5s ease);

    &.isactive {
        right: -$width-menu;
    	left: $width-menu;

        overflow: hidden;
    	@include transition(all 0.5s ease);
    }
}

.body {
    position: relative;

    background-color: $color-md-green;
    color: $color-white;
}
