@import '../../../stylesheets/helpers/variables.scss';
@import '../../../stylesheets/helpers/mixins.scss';
@import '../../../stylesheets/helpers/grid.scss';

.html,
.body {
    min-width: 320px - $width-gutter*2;

    color: $color-body;
    font-family: $font-body;

    @include box-sizing(border-box);
    @include font-smoothing;
}

.html {
    height: 100%;
    padding: $width-gutter !important;

    overflow: hidden;

    &:after {
        content: '';
        position: fixed;

        top: 0;
        right: 0;
        bottom: 0;

        width: $width-gutter;

        background-color: $color-white;
    }
}

.body {
    position: relative;

    min-height: 100%;
    right: 0;
    left: 0;

	@include transition(all 0.5s ease);

    &:before,
    &:after {
        content: '';
        position: fixed;

        right: 0;
        left: 0;

        height: $width-gutter;

        background-color: $color-white;
    }

    &:before {
        top: 0;
        bottom: auto;
    }
    &:after {
        top: auto;
        bottom: 0;
    }

    &.isactive {
        right: -$width-menu;
    	left: $width-menu;

        overflow: hidden;
    	@include transition(all 0.5s ease);
    }

    .site {
        display: table;
        width: 100%;
        height: calc(100vh - #{$width-gutter*2});

        background-attachment: fixed;
        background-image: url('../../../images/pattern-geo.svg');
        background-color: $color-md-green;
        background-repeat: repeat;
        background-position: center;

        color: $color-white;

        > .main {
            display: table-cell;
            vertical-align: middle;

            padding: $width-gutter*5 $width-gutter/2 $width-gutter*2 $width-gutter/2;
        }
    }
}

:global {
    .fade-enter {
    	opacity: 0.01;
    }

    .fade-enter.fade-enter-active {
    	opacity: 1;
    	transition: opacity 0.2s ease-in;
    }

    .fade-leave {
    	opacity: 1;
    }

    .fade-leave.fade-leave-active {
    	opacity: 0.01;
    	transition: opacity 0.2s ease-in;
    }
}
